<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header::header"></head>
<body>
<div th:replace="layout/reviewTop::top"></div>

<div class="container">
    <div class="row align-items-start">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <div style="padding-top:10px;" class="nav flex-column nav-pills" aria-orientation="vertical">
                            <a th:href="@{/review/addreviewlist}" style="margin:5px;" class="nav-link text-bg-secondary">등록해야 할 리뷰</a>
                            <a th:href="@{/review/rentlist}" style="margin:5px;" class="nav-link text-dark">렌트 리뷰 목록</a>
                            <a th:href="@{/review/carlist}" style="margin:5px;" class="nav-link text-dark">차량 목록</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div style="padding-top:50px;" class="col">
            <div class=" text-center">
                <h2>등록해야 할 리뷰 목록</h2>
            </div>

            <div class="px-5 m-3">
                <table id="table" class="table">
                    <thead>
                    <tr>
                        <th>모델명</th>
                        <th>지역</th>
                        <th>대여 시간</th>
                        <th>반납 시간</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="rent : ${rents}">
                        <td th:text="${rent.getUserCarResponse().getCarModel()}"/>
                        <td th:text="${rent.getAddressResponse().getSigungu() + ' ' + rent.getAddressResponse().getEupmyeongdong() + ' ' + rent.getAddressResponse().getDetailAddress()}"/>
                        <td th:text="${#temporals.format(rent.getRentalDate(), 'yyyy년 MM월 dd일 HH시 mm분')}"/>
                        <td th:text="${#temporals.format(rent.getRentalDate(), 'yyyy년 MM월 dd일 HH시 mm분')}"/>
                        <td><a class="w-80 h-25 btn btn-primary btn-sm"
                               th:href="@{/review/addrivew(id=${rent.getId()})}">
                            리뷰 등록
                        </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="pagination justify-content-center">
                <div class="pagination justify-content-center">
                    <a class="btn btn-light"
                       th:href="@{/review/addreviewlist(page=${previous})}"
                       type="button"><
                    </a>
                    &nbsp
                    <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                        <a class="btn btn-light" th:if="${page != nowPage}"
                           th:href="@{/review/addreviewlist(page=${page - 1})}"
                           th:text="${page}"></a>
                        <strong class="btn btn-light" th:if="${page == nowPage}"
                                th:text="${page}" style="color : blue"></strong>
                    </th:block>
                    &nbsp
                    <a class="btn btn-light"
                       th:href="@{/review/addreviewlist(page=${next})}"
                       type="button">>
                    </a>
                </div>
            </div>

            </th:block>

        </div>
    </div>
</div>

<div th:replace="layout/footer::footer"></div>
</body>

</html>