<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header::header"></head>
<body>
<div th:replace="layout/rentTop::top"></div>

<div class="container">
    <div class="row align-items-start">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <div style="padding-top:10px;" class="nav flex-column nav-pills" aria-orientation="vertical">
                            <a th:href="@{/rent/list}" style="margin:5px;" class="nav-link text-dark">차량 대여</a>
                            <a th:href="@{/rent/return}" style="margin:5px;" class="nav-link text-dark">차량 반납</a>
                            <a th:href="@{/rent/add}" style="margin:5px;" class="nav-link text-dark">차량 등록</a>
                            <a th:href="@{/rent/renthistory}" style="margin:5px;" class="nav-link text-bg-secondary">대여
                                기록</a>
                            <a th:href="@{/rent/addhistory}" style="margin:5px;" class="nav-link text-dark">등록 기록</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div style="padding-top:50px;" class="col">
            <div class=" text-center">
                <h2>카셰어링 정보</h2>
            </div>

            <form th:action="@{/rent/renthistory(id = ${rent.getId()})}" th:object="${rent}" method="get">

                <div class="px-5 m-3">
                    <table id="table" class="table" style="width: 100%">
                        <thead>
                        <tr>
                            <th style="width: 30%">목록</th>
                            <th>내용</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="모델명"/>
                            <td th:text="${rent.getUserCarResponse().getCarModel()}"></td>
                        </tr>
                        <tr>
                            <td th:text="차종"/>
                            <td th:text="${rent.getUserCarResponse().getCarCategory().getDescription()}"></td>
                        </tr>
                        <tr>
                            <td th:text="제조사"/>
                            <td th:text="${rent.getUserCarResponse().getManufacturer()}"></td>
                        </tr>
                        <tr>
                            <td th:text="'차량 번호'"/>
                            <td th:text="${rent.getUserCarResponse().getCarNumber()}"></td>
                        </tr>
                        <tr>
                            <td th:text="연료"/>
                            <td th:text="${rent.getUserCarResponse().getFuel().getDescription()}"></td>
                        </tr>
                        <tr>
                            <td th:text="'시간 당 가격'"/>
                            <td th:text="${rent.getPricePerHour()}"></td>
                        </tr>
                        <tr>
                            <td th:text="지역"/>
                            <td th:text="${rent.getAddressResponse().getSido()} + ' ' + ${rent.getAddressResponse().getSigungu()} + ' ' + ${rent.getAddressResponse().getEupmyeongdong()} + ' ' + ${rent.getAddressResponse().getDetailAddress()}"></td>
                        </tr>
                        <tr>
                            <td th:text="상태"/>
                            <td th:text="${rent.getStatus().getDescription()}"></td>
                        </tr>
                        <tr>
                            <td th:text="'대여자 정보'"/>
                            <td><a th:href="@{/rent/detail/(id = ${rent.getAccountResponse().getId()})}"
                                   th:text="${rent.getAccountResponse().getUsername()}"/></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <h6 th:if="${rent.getStatus().toString()!='WAITING_RENT'}" style="color: red">※카셰어링 대기 중일 때만 취소가
                    가능합니다.</h6>

                <div class="row px-5 m-3">
                    <div class="col">
                        <a class="w-100 btn btn-secondary btn-lg" href="javascript:window.history.back();">
                            뒤로가기
                        </a>
                    </div>

                    <div class="col" th:if="${rent.getStatus().toString()=='WAITING_RENT'}">
                        <a class="w-100 btn btn-danger btn-lg" th:href="@{/rent/cancel(id=${rent.getId()})}">
                            취소하기
                        </a>
                    </div>

                </div>

            </form>

        </div>
    </div>
</div>

<div th:replace="layout/footer::footer"></div>
</body>

</html>