<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header::header"></head>
<body>
<div th:replace="layout/rentTop::top"></div>

<div class="container">
    <div class="row align-items-start">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <div style="padding-top:10px;" class="nav flex-column nav-pills" aria-orientation="vertical">
                            <a th:href="@{/rent/list}" style="margin:5px;" class="nav-link text-dark">차량 대여</a>
                            <a th:href="@{/rent/return}" style="margin:5px;" class="nav-link text-bg-secondary">차량 반납</a>
                            <a th:href="@{/rent/add}" style="margin:5px;" class="nav-link text-dark">차량 등록</a>
                            <a th:href="@{/rent/renthistory}" style="margin:5px;" class="nav-link text-dark">대여
                                기록</a>
                            <a th:href="@{/rent/addhistory}" style="margin:5px;" class="nav-link text-dark">등록 기록</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div style="padding-top:50px;" class="col px-5 m-3">
            <div class=" text-center">
                <h2>차량 반납</h2>
            </div>

            <hr class="my-4">
            <div>
                <table id="table" class="table">
                    <thead>
                    <tr>
                        <th>목록</th>
                        <th>내용</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="모델명"></td>
                        <td><a th:text="${rent.getUserCarResponse().getCarModel()}"/>
                    </tr>
                    <tr>
                        <td th:text="'반납 주소'"></td>
                        <td th:text="${rent.getAddressResponse().getSigungu() + ' ' + rent.getAddressResponse().getEupmyeongdong() + ' ' + rent.getAddressResponse().getSido() + ' ' + rent.getAddressResponse().getDetailAddress()}"/>
                    </tr>
                    <tr>
                        <td th:text="'시간 당 가격'"></td>
                        <td th:text="${rent.getPricePerHour()}"/>
                    </tr>
                    <tr>
                        <td th:text="상태"></td>
                        <td th:text="${rent.getStatus().getDescription()}"/>
                    </tr>
                    <tr>
                        <td th:text="대여일"></td>
                        <td th:text="${#temporals.format(rent.getRentalDate(), 'yyyy년 MM월 dd일 HH시 mm분')}"/>
                    </tr>
                    <tr>
                        <td th:text="반납일"></td>
                        <td th:text="${#temporals.format(rent.getReturnDate(), 'yyyy년 MM월 dd일 HH시 mm분')}"/>
                    </tr>
                    <tr>
                        <td th:text="'총 사용 금액'"></td>
                        <td th:text="${rent.getTotalPrice()}"/>
                    </tr>
                    </tbody>
                </table>
            </div>


            <h6 style="color: red">※대여자가 차량 상태 및 입금 여부 확인 후 반납 완료 처리됩니다.</h6>


            <div th:if="${rent.getStatus().toString()=='RENTING'}">
            <form th:action="@{return(id = ${rent.getId()})}" method="post" enctype="multipart/form-data">
                <div>
                    <label for="carFront">차량 정면 사진</label>
                    <input type="file" id="carFront" name="carFront" class="form-control">
                </div>

                <div>
                    <label for="carRear">차량 후면 사진</label>
                    <input type="file" id="carRear" name="carRear" class="form-control">
                </div>

                <div>
                    <label for="carLeft">차량 좌측 사진</label>
                    <input type="file" id="carLeft" name="carLeft" class="form-control">
                </div>

                <div>
                    <label for="carRight">차량 우측 사진</label>
                    <input type="file" id="carRight" name="carRight" class="form-control">
                </div>

                <hr style="width:88%; margin: auto">

                <div>
                    <button class="w-100 btn btn-primary btn-lg" type="submit">반납</button>
                </div>
            </form>
            </div>

            <div th:if="${rent.getStatus().toString()=='WAITING_RETURN'}">
                <button class="w-100 btn btn-danger btn-lg" type="submit">반납 대기 중</button>
            </div>



<!--            <div class="row">-->
<!--                <div class="col">-->
<!--                    <a class="w-100 btn btn-danger btn-lg" th:if="${rent.getStatus().toString()=='RENTING'}" th:href="@{/rent/return/detail(id=${rent.getId()})}">-->
<!--                        반납-->
<!--                    </a>-->
<!--                    <a class="w-100 btn btn-danger btn-lg" th:if="${rent.getStatus().toString()=='WAITING_RETURN'}">-->
<!--                        반납 대기 중-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</div>



    </div>
</div>

<!--<div th:replace="layout/footer::footer"></div>-->
</body>

</html>