<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header::header"></head>
<body>
<div th:replace="layout/mypageTop::top"></div>

<div class="container">
    <div class="row align-items-start">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <div style="padding-top:10px;" class="nav flex-column nav-pills" aria-orientation="vertical">
                            <a th:href="@{/mypage/account/info}" style="margin:5px;" class="nav-link text-dark">내 정보</a>
                            <a th:href="@{/mypage/account/update}" style="margin:5px;" class="nav-link text-dark">내 정보 업데이트</a>
                            <a th:href="@{/usercar/list}" style="margin:5px;" class="nav-link text-dark">차량 목록</a>
                            <a th:href="@{/usercar/add}" style="margin:5px;" class="nav-link text-bg-secondary">차량 등록</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div style="padding-top:50px;" class="col">
            <div class=" text-center">
                <h2>차량 등록</h2>
            </div>

            <form th:action="@{/usercar/add}" th:object="${userCar}" method="post">

                <div class="px-5 m-3">
                    <label for="carModel">모델명</label>
                    <input type="text" id="carModel" th:field="*{carModel}" class="form-control" th:errorclass="field-error"/>
                    <div class="field-error" th:errors="*{carModel}">모델명 오류</div>
                </div>

                <div class="px-5 m-3">
                    <div>차종</div>
                    <select th:field="*{carCategory}" class="form-select" th:errorclass="field-error">
                        <option value="">==차종 선택==</option>
                        <option th:each="carCategory : ${carCategories}" th:value="${carCategory}"
                                th:text="${carCategory.getDescription()}">LIGHT</option>
                    </select>
                    <div class="field-error" th:errors="*{carCategory}">차종 오류</div>
                </div>

                <div class="px-5 m-3">
                    <label for="manufacturer">제조사</label>
                    <input type="text" id="manufacturer" th:field="*{manufacturer}" class="form-control" th:errorclass="field-error"/>
                    <div class="field-error" th:errors="*{manufacturer}">제조사 오류</div>
                </div>

                <div class="px-5 m-3">
                    <div>연료</div>
                    <select th:field="*{fuel}" class="form-select" th:errorclass="field-error">
                        <option value="">==연료 선택==</option>
                        <option th:each="fuel : ${fuels}" th:value="${fuel}"
                                th:text="${fuel.getDescription()}">GASOLINE</option>
                    </select>
                    <div class="field-error" th:errors="*{fuel}">연료 오류</div>
                </div>

                <div class="px-5 m-3">
                    <label for="carNumber">차량 번호</label>
                    <input type="text" id="carNumber" th:field="*{carNumber}" class="form-control" th:errorclass="field-error"/>
                    <div class="field-error" th:errors="*{carNumber}">차량 번호 오류</div>
                </div>

                <div class="px-5 m-3">
                    <button class="w-100 btn btn-dark btn-lg" type="submit">등록</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="layout/footer::footer"></div>
</body>

</html>