<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header::header"></head>
<body>
<div th:replace="layout/mypageTop::top"></div>

<div class="container">
  <div class="row align-items-start">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <div style="padding-top:10px;" class="nav flex-column nav-pills" aria-orientation="vertical">
              <a th:href="@{/mypage/account/info}" style="margin:5px;" class="nav-link text-dark">내 정보</a>
              <a th:href="@{/mypage/account/update}" style="margin:5px;" class="nav-link text-bg-secondary">내 정보 업데이트</a>
              <a th:href="@{/usercar/list}" style="margin:5px;" class="nav-link text-dark">차량 목록</a>
              <a th:href="@{/usercar/add}" style="margin:5px;" class="nav-link text-dark">차량 등록</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div style="padding-top:50px;"  class="col">
      <div class="text-center">
        <h2>비밀번호 재설정</h2>
      </div>

      <form th:action="@{/mypage/password_reset}" th:object="${password}" method="post">

        <div class="px-5 m-3" th:if="${exception}">
          <p class="field-error" th:text="${exception}">비밀번호 체크 예외시 메시지</p>
        </div>

        <div class="px-5 m-3">
          <label for="currentPassword">현재 비밀번호</label>
          <input type="password" id="currentPassword" name="currentPassword" class="form-control" th:errorclass="field-error">
          <div class="field-error" th:errors="*{currentPassword}">
            현재 비밀번호 검증 오류
          </div>
        </div>
        <div class="px-5 m-3">
          <label for="newPassword">새 비밀번호</label>
          <input type="password" id="newPassword" name="newPassword" class="form-control" th:errorclass="field-error">
          <div class="field-error" th:errors="*{newPassword}">
            새 비밀번호 검증 오류
          </div>
        </div>
        <div class="px-5 m-3">
          <label for="checkPassword">새 비밀번호 확인</label>
          <input type="password" id="checkPassword" name="checkPassword" class="form-control" th:errorclass="field-error">
          <div class="field-error" th:errors="*{checkPassword}">
            새 비밀번호 확인 검증 오류
          </div>
        </div>

        <div class="px-5 m-3">
          <button class="w-100 btn btn-dark btn-lg" type="submit">업데이트</button>
        </div>
      </form>

    </div>
  </div>
</div>

<div th:replace="layout/footer::footer"></div>
</body>

</html>


