<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header::header"></head>

<body>
<div th:replace="layout/top::top"></div>

<div class="container" style="max-width: 560px;">
    <div class="py-5 text-center">
        <h2>AnsimCar</h2>
    </div>
    <h4 class="mb-3">회원 가입</h4>
    <form th:action="@{/register}" method="post" th:object="${account}">

        <div th:if="${exception}">
            <p class="field-error" th:text="${exception}">회원가입 실패(이메일 중복) 예외시 메시지</p>
        </div>

        <div>
            <label for="username">이름</label>
            <input type="text" id="username" name="username" class="form-control" th:field="*{username}" th:errorclass="field-error">
            <div class="field-error" th:errors="*{username}">
                이름 검증 오류
            </div>
        </div>

        <div>
            <label for="email">이메일</label>
            <input type="text" id="email" name="email" class="form-control" th:field="*{email}" th:errorclass="field-error" >
            <div class="field-error" th:errors="*{email}">
                이메일 검증 오류
            </div>
        </div>

        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" class="form-control" th:field="*{password}" th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}">
                비밀번호 검증 오류
            </div>
        </div>

        <div>
            <label for="phoneNumber">핸드폰 번호</label>
            <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" th:field="*{phoneNumber}" th:errorclass="field-error">
            <div class="field-error" th:errors="*{phoneNumber}">
                핸드폰 번호 검증 오류
            </div>
        </div>

        <div>
            <label for="age">나이</label>
            <input type="text" id="age" name="age" class="form-control" th:field="*{age}" th:errorclass="field-error">
            <div class="field-error" th:errors="*{age}">
                나이 오류
            </div>
        </div>

        <div>
            <label for="bankName">은행명</label>
            <input type="text" id="bankName" name="age" class="form-control" th:field="*{bankName}" th:errorclass="field-error">
            <div class="field-error" th:errors="*{bankName}">
                은행명 오류
            </div>
        </div>

        <div>
            <label for="age">계좌번호</label>
            <input type="text" id="bankAccount" name="bankAccount" class="form-control" th:field="*{bankAccount}" th:errorclass="field-error">
            <div class="field-error" th:errors="*{bankAccount}">
                계좌번호 오류
            </div>
        </div>

        <hr class="my-4">
        <div class="row">

            <div class="col">
                <button class="w-100 btn btn-dark btn-lg" type="submit">회원 가입</button>
            </div>

            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/}'|"
                        type="button">취소
                </button>
            </div>

        </div>
    </form>
</div>
</body>
</html>
